html {
    background: #557A95;
}

body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h {
    color: black;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    text-align: center;
}

a {
    color: #0083e8;
}