html {
    background-image: url(ice.jpg);
}

div.body {
    display: block;
    overflow: auto;
    background-image: url(halftone-yellow.png);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 900px;
    padding: 2em 2em 4em;
    height:100%;
}

h {
    color: white;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    text-align: center;
}

p1 {
    color: white;
}

p.click {
    background: rgba(0,0,0,.4);
    color: white;
}

.classname {
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s;    /* Firefox < 16 */
            -ms-animation: fadein 2s;     /* Internet Explorer */
            -o-animation: fadein 2s;      /* Opera < 12.1 */
            animation: fadein 2s;
            }
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Firefox < 16 */
            @-moz-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            /* Safari, Chrome and Opera > 12.1 */
            @-webkit-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }

            /* Internet Explorer */
            @-ms-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }

            /* Opera < 12.1 */
            @-o-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }

#button {
    width: 100%;
}

#left {
    float: left;
}

#right {
    float: right;
}

#center {
    margin: 0 auto;
    width: 100px;
}

#pic {    
    width: 100%;
}

#leftPic {
    float: left;
}

#rightPic {
    float: right;
}

#centerPic {
    margin: 0 auto;
    width: 180px;
}

#info {
    width: 100%;
}

#crosbyInfo {
    float: left;
}

#kesselInfo {
    float: right;
}

#malkinInfo {
    margin: 0 auto;
    width: 210px;
}

#crosby {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#malkin {    
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#kessel {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#crosby:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#kessel:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#malkin:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#subscribe {
    text-align: center;
    background: rgba(0,0,0,.4);
    color: white;
}

input {
    margin-left: 5px;
    margin-bottom: 1px;
    padding-right: 5px;
    border-style: solid;
    border-color: black;
}

#email {
    margin-left: 42px;
    margin-bottom: 1px;
    padding-right: 5px;
    border-style: solid;
    border-color: black;
}



